@page "/"

@using MauiBlazor.Shared.Models;
@using Newtonsoft.Json;
@using MauiBlazor.Mobile.Data;
@using CommunityToolkit.Maui.Core;


@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

<style>
    .main-container {
        display: flex;
        flex-direction: row;
    }

    .left-column {
        flex: 1;
        padding-right: 20px; /* Adjust the spacing between columns */
    }

    .right-column {
        flex: 2;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
    }

    .card {
        flex: 0 0 auto;
        margin-right: 15px; /* Adjust the spacing between cards */
    }

    .add-button {
        margin-left: auto; /* Push the button to the end of the left column */
        cursor: pointer;
    }

    .row-scrollable-container {
        overflow-x: auto;
        display: flex;
        flex-direction: row;
    }

    .column-scrollable-container {
        overflow-x: auto;
        display: flex;
        flex-direction: column;
    }
</style>
@if (_cardList == null)
{
    <p>Loading ..</p>
}
else
{
    <div class="main-container">
        <div class="left-column">
            <h1>My Cards</h1>
        </div>
        <div class="right-column">
            <a class="add-button" href="/add">
                <img src="add.png" alt="Add" width="40" height="40" />
            </a>
        </div>
    </div>

    <div class="row-scrollable-container">
        @foreach (CardModel card in _cardList)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@card.DisplayName</h5>
                    <p class="card-text">@card.JobTitle</p>
                    <p class="card-text"><small class="text-muted">@card.Phone</small></p>
                </div>
            </div>
        }
    </div>

    <h1>Scan History</h1>

    <div class="column-scrollable-container">
        @foreach (CardModel card in _cardList)
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@card.DisplayName</h5>
                    <p class="card-text">@card.JobTitle</p>
                    <p class="card-text"><small class="text-muted">@card.Phone</small></p>
                </div>
            </div>
        }
    </div>
}

@code {

    List<CardModel> _cardList;
    protected override async Task OnInitializedAsync()
    {
        ResponseModel<List<CardModel>> responseModel = await CardService.GetHomePageDetails();
        SemanticScreenReader.Announce(responseModel.Message);
        await CommunityToolkit.Maui.Alerts.Toast.Make(responseModel.Message, ToastDuration.Long, 16).Show(new CancellationTokenSource().Token);

        if (responseModel.Success)
        {
            _cardList = responseModel.Data;

        }
    }
}
